<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%=csrfToken %>"/>
    <link href="./css/styles.css" rel="stylesheet" />
    <script src="./js/script.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>

      var token = document
      .querySelector('meta[name="csrf-token"]')
      .getAttribute("content");
      function updateTodo(id) {
        const status = document.getElementById(`todo-checkbox-${id}`).checked;        
        fetch(`/todos/${id}`, {
          method: "put",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({
            completed:status,
            _csrf: token
          }),
        })
          .then((res) => {
            if (res.ok) {
              window.location.reload();
            }
          })
          .catch((err) => console.error(err));
      }
      function deleteTodo(id) {
        fetch(`/todos/${id}`, {
          method: "delete",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({
            completed:status,
            _csrf: token
          }),
        })
          .then((res) => {
            if (res.ok) {
              window.location.reload();
            }
          })
          .catch((err) => console.error(err));
      }
    </script>
    <title>
      <%= title %>
    </title>
  </head>
  <body>
    <div class="grid grid-cols-6">
      <div class="col-start-3 col-span-2">
        <%- include('header.ejs') %>
        <form action="/todos" method="post">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <div class="flex gap-2 py-4">
            <div class="flex-auto">
              <input
                type="text"
                name="title"
                placeholder="What's next??"
                class="border border-gray-300 rounded text-gray-900 w-full p-2 text-sm"
                required
              />
            </div>
            <div class="flex-auto">
              <input
                type="date"
                name="dueDate"
                name="dueDate"
                class="border border-gray-300 rounded text-gray-900 w-full p-2 text-sm leading-4"
              />
            </div>
            <div class="flex-none">
              <button
                type="Submit"
                class="bg-green-600 text-white px-5 py-1.5 rounded font-medium mr-2 mb-2"
              >
                Add
              </button>
            </div>
          </div>
        </form>
        

        
<%/* Due today starts from here */%>


        <div>
          <h5 style="display: inline">Overdue</h5>
          <span
            style="display: inline"
            id="count-overdue"
            class="bg-gray-200 text-black px-3 py-1 rounded font-medium mr-2 mb-2"
            ><%- overdue.length %></span
          >

        <% for( let i = 0; i< overdue.length; i++) { %>
        <div class="Todo-Item">
          <div
            class="flex items-center w-fit my-2 px-2 py-1 rounded hover:bg-purple-100"
          >
            <input
              id="todo-checkbox-1"
              type="checkbox"
              class="w-4 text-blue-600 bg-gray-100 rounded border-green-600"
            />
            <label
              for="todo-checkbox-1"
              class="ml-2 text-sm text-gray-600 cursor-pointer"
              ><%- overdue[i].title %></label
            >
            <a
              href="#"
              class="hidden trash-icon ml-2"
              onclick="deleteTodo('<%= overdue[i].id %>')"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-4 h-4"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                />
              </svg>
            </a>
          </div>
        </div>
        <% } %>
      


<%/* Due today starts from here */%>


<div>
  <h5 style="display: inline">dueToday</h5>
  <span
    style="display: inline"
    id="count-dueToday"
    class="bg-gray-200 text-black px-3 py-1 rounded font-medium mr-2 mb-2"
    ><%- dueToday.length %></span
  >
</div>

           <% for( let i = 0; i< dueToday.length; i++) { %>
          <div class="Todo-Item">
            <div
              class="flex items-center w-fit my-2 px-2 py-1 rounded hover:bg-purple-100"
            >
              <input
                id="todo-checkbox-2"
                type="checkbox"
                class="w-4 text-blue-600 bg-gray-100 rounded border-green-600"
              />
              <label
                for="todo-checkbox-2"
                class="ml-2 text-sm text-gray-600 cursor-pointer"
                ><%- dueToday[i].title %></label
              >
              <a
                href="#"
                class="hidden trash-icon ml-2"
                onclick="deleteTodo('<%= dueToday[i].id %>')"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-4 h-4"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                  />
                </svg>
              </a>
            </div>
          </div>
          <% } %>
          


<%/* due Later starts from here */%>



          <div>
             <h5 style="display: inline">dueLater</h5>
              <span
                 style="display: inline"
                 id="count-dueLater"
                 class="bg-gray-200 text-black px-3 py-1 rounded font-medium mr-2 mb-2"
    ><%- dueLater.length %></span
  >
</div>

   <% for( let i = 0; i< dueLater.length; i++) { %>
    <div class="Todo-Item">
      <div
        class="flex items-center w-fit my-2 px-2 py-1 rounded hover:bg-purple-100"
      >
        <input
          id="todo-checkbox-3"
          type="checkbox"
          class="w-4 text-blue-600 bg-gray-100 rounded border-green-600"
        />
        <label
          for="todo-checkbox-3"
          class="ml-2 text-sm text-gray-600 cursor-pointer"
          ><%- dueLater[i].title %></label
        >
        <a
          href="#"
          class="hidden trash-icon ml-2"
          onclick="deleteTodo('<%= dueLater[i].id %>')"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-4 h-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
            />
          </svg>
        </a>
      </div>
    </div>
    <% } %>
    
      </div>
    </div>
  </body>
</html>
